@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Dancing+Script:wght@700&display=swap');


.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:10px;
    font-family: 'Boogaloo', cursive;
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(to left, transparent 0%, rgb(197, 148, 208) 30%, transparent 100%);
    background-repeat: no-repeat; 
    padding: 20px;
   justify-content: center;
   
}
.tourHeader{
   
        background: linear-gradient(to left, transparent 0%, rgb(175, 194, 187) 30%, transparent 100%);
    padding: 20px;
    border: 2px solid rgb(108, 156, 139)
}

.tour_item{
    width: calc(20vh-15px);
    flex-shrink: 0; 
     overflow: hidden;
     border:2px solid purple 
}

.item_header{
    text-decoration: none;
}

