.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
    height: 10vh;
    align-items: center;
    background-color: rgba(190, 37, 228, 0.219)
}
.divName{
    font-size: 25px;
    font-weight: bolder;
    color:rgba(80, 12, 97, 0.918) ;
    display: flex;
    list-style: none;
    justify-content: space-between;
   
}
.divPhone{
    display: flex;
    font-size: larger;
    list-style: none;
    justify-content: space-between;
    gap: 2rem 
}
.ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 2rem
}
.link {
    color: black;
    background-color: rgb(226, 235, 232);
    margin-left: 20px;
    border: 1px solid #000;
    text-decoration: none;
    padding: 10px;
}
.logOut {
    color: black;
    background-color: rgb(226, 235, 232);
    border: 1px solid #000;
    text-decoration: none;
    padding: 3px;
}
.active {
    color: black;
    background-color: rgba(174, 39, 192, 0.315);
    transition: all 0.3s;
}

.userLogo {
    display: flex;
    width: 12vh;
    height: 8vh;
    background-color: rgb(226, 235, 232);
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.headerInfo {
    display: flex;
    gap: 2rem;
}
